form {
  width: 100%;
  max-width: 650px;
  background-color: white;
  margin: 0 auto;
  text-align:center;
  margin-top:20px;
}

.btn {
  margin-top: 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 650px;
}

.blue {
  background-color: #a9bee8;
  color: white;
}

.green {
  background-color: #4CAF50;
  color: white;
}

#stavka {
  text-align:center;
}

table {
  margin: 0 auto;
}
table td {
  text-align:left;
}
 #left{
   width:30%;
 }

 #right{
   width:70%;
 }
