<form novalidate [formGroup]="cenovnikForm">
  <div class="form-group"
       [ngClass]="{'has-danger': datumControl?.invalid && ( datumControl?.touched || datumControl?.dirty),
                   'has-success': datumControl?.valid && ( datumControl?.touched || datumControl?.dirty)}">
    <input type="date"
           class="form-control"
           formControlName="datumControl"
           placeholder="Datum pocetka vazenja"
           required>
    <div class="form-control-feedback" *ngIf="datumControl.errors">
      <p *ngIf="datumControl.errors.required">Datum pocetka je obavezan</p>
      <p *ngIf="datumControl.errors.validDate">Datum mora biti bar dva dana od sad</p>
    </div>
  </div>
  <hr />
  <hr />
  <button class="btn" (click)="enableShowStavka()">Dodaj stavku</button>
  <div *ngIf="showStavka && !loading">

    <div class="form-group"
         [ngClass]="{'has-danger': cenaControl?.invalid && ( cenaControl?.touched || cenaControl?.dirty),
                     'has-success': cenaControl?.valid && ( cenaControl?.touched || cenaControl?.dirty)}">
      <input type="number" min="0" step="50" class="form-control" formControlName="cenaControl" placeholder="Cena" />
    </div>
    <div class="form-group"
         [ngClass]="{'has-danger': linijaControl?.invalid && ( linijaControl?.touched || linijaControl?.dirty),
                     'has-success': linijaControl?.valid && ( linijaControl?.touched || linijaControl?.dirty)}">
      <select class="form-control" formControlName="linijaControl" placeholder="Linija" required >
        <option *ngFor="let linija of linije" [ngValue]="linija">{{linija.name}}</option>
      </select>
    </div>
    <div class="form-group"
         [ngClass]="{'has-danger': zonaControl?.invalid && ( zonaControl?.touched || zonaControl?.dirty),
                     'has-success': zonaControl?.valid && ( zonaControl?.touched || zonaControl?.dirty)}">
      <select class="form-control" formControlName="zonaControl" required>
        <option *ngFor="let zona of linijaControl?.value.zonesIds" (value)="zona">{{zona.name}}</option>
      </select>
    </div>
  </div>
  <hr />
</form>

