<div class="register-section">
  <div class="prijava-section">
    <div class="col-md-3"></div>
    <div class="col-md-6 container">
      <div class="form-group">
        <br />
        <br />
        <h3>Kupovina karte</h3>
        <br />
        <form novalidate [formGroup]="kupovinaKarteForma" (ngSubmit)="kupiKartu()">
          <div class="form-group" [ngClass]="{'has-danger': kartaControl.invalid && (kartaControl.dirty || kartaControl.touched), 'has-success': kartaControl.valid && (kartaControl.dirty || kartaControl.touched)}">
            <select class="form-control" formControlName="kartaControl" [(ngModel)]="tipKarte" (change)="promenaTipaRute()"
              required>
              <option [ngValue]="null" hidden>Odaberite tip karte</option>
              <option *ngFor="let karta of tipoviKarte" [ngValue]="karta.name">{{karta.name}}</option>
            </select>
            <div class="form-control-feedback" *ngIf="kartaControl.errors && (kartaControl.dirty || kartaControl.touched)">
              <p *ngIf="kartaControl.errors.required">Tip karte je obavezan.</p>
            </div>
          </div>
          <br />
          
          <div class="form-group" [ngClass]="{'has-danger': voziloControl.invalid && (voziloControl.dirty || voziloControl.touched), 'has-success': voziloControl.valid && (voziloControl.dirty || voziloControl.touched)}">
            <select class="form-control" formControlName="voziloControl" [(ngModel)]="tipVozila" (change)="promenaTipaRute()" required>
              <option [ngValue]="null" hidden>Odaberite tip vozila</option>
              <option *ngFor="let vozilo of tipoviVozila" [ngValue]="vozilo.name">{{vozilo.name}}</option>
            </select>
            <div class="form-control-feedback" *ngIf="voziloControl.errors && (voziloControl.dirty || voziloControl.touched)">
              <p *ngIf="voziloControl.errors.required">Vrsta prevoza obavezna.</p>
            </div>
            <br />
          </div>

          <div class="form-group" [ngClass]="{'has-danger': rutaControl.invalid && (rutaControl.dirty || rutaControl.touched), 'has-success': rutaControl.valid && (rutaControl.dirty || rutaControl.touched)}">
            <select *ngIf="tipKarte!=null && tipVozila!=null" class="form-control" formControlName="rutaControl" [(ngModel)]="ruta"
              required>
              <option [ngValue]="null" hidden>Odaberite {{tipRute}}</option>
              <option *ngFor="let zl of tipoviRute" [ngValue]="zl.name">{{zl.name}}</option>
            </select>
            <div class="form-control-feedback" *ngIf="rutaControl.errors && (rutaControl.dirty || rutaControl.touched) && tipKarte!=null">
              <p *ngIf="rutaControl.errors.required">Linij/Zona su obavezni.</p>
            </div>
            <br />
          </div>

          <div class="modal-footer">
            <p class="footnote">*Ukoliko za odabran tip karte i prevoz nema ponudjenih linija/zone, nije moguce kupiti odabranu kartu.</p>
            <button class="btn btn-primary" type="submit">Kupi</button>
            <button class="btn btn-primary" type="button" (click)="otkazi()">Otkazi</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>