<div class="grid-container">
  <div *ngIf="user==undefined" class="item1">
    <button class="nav-item nav-link-edit" [routerLink]="['/registracija']">Registracija</button>
    <button class="nav-item nav-link-edit" [routerLink]="['/prijava']">Prijava</button>
    <button class="nav-item nav-link-edit" [routerLink]="['/cenovnik']">Cenovnik</button>
    <button class="nav-item nav-link-edit" [routerLink]="['/mrezaLinija']">Mreza Linija</button>
    <br />
  </div>
  <div *ngIf="user!=undefined" class="item1">
    <button (click)='odjava()' class="nav-item nav-link-edit">Odjava</button>
    <button class="nav-item nav-link-edit" [routerLink]="['/izmenaLozinke']">Promena lozinke</button>
    <div *ngIf=" user.uloga=='KORISNIK'">
      <button class="nav-item nav-link-edit" [routerLink]="['/cenovnik']">Cenovnik</button>
      <button class="nav-item nav-link-edit" [routerLink]="['/profilKorisnik']">Profil</button>
      <button class="nav-item nav-link-edit" [routerLink]="['/kupovinaKarte']">Kupovina karte</button>
      <button class="nav-item nav-link-edit" [routerLink]="['/uredjivanjeProfila']">Izmena licnih podataka</button>
      <button class="nav-item nav-link-edit" [routerLink]="['/mrezaLinija']">Mreza Linija</button>
    </div>
    <!-- Ovde stavljajte vase opcije u meni -->
    <div *ngIf=" user.uloga=='ADMINISTRATOR'">
      <button class="nav-item nav-link-edit" [routerLink]="['/profilAdmin']">Profil</button>
      <button class="nav-item nav-link-edit" [routerLink]="['/mrezaLinija']">Mreza Linija</button>
      <button class="nav-item nav-link-edit" [routerLink]="['/formCenovnik']">Dodaj Cenovnik</button>
      <button class="nav-item-nav-link-edit" [routerLink]="['/adminZone']">Uredi zone</button>
      <button class="nav-item-nav-link-edit" [routerLink]="['/adminLinije']">Uredi linije</button>
      <button class="nav-item-nav-link-edit" [routerLink]="['/adminStanice']">Uredi stanice</button>
      <button class="nav-item-nav-link-edit" [routerLink]="['/adminVozila']">Uredi vozila</button>
    </div>
    <div *ngIf=" user.uloga=='KONDUKTER'">
      <button class="nav-item nav-link-edit" [routerLink]="['/profilKondukter']">Profil</button>
      <button class="nav-item nav-link-edit" [routerLink]="['/proveraKarte']">Proveri kartu</button>
    </div>
    <div *ngIf="user.uloga=='VERIFIKATOR'">

      <button class="nav-item nav-link-edit" [routerLink]="['/profilVerifikator']">Profil</button>
      <button class="nav-item nav-link-edit" [routerLink]="['/potvrdaZahteva']">Odobri karte</button>
    </div>

  </div>

  <div class="item2">
    <router-outlet></router-outlet>
  </div>
</div>