<div class="grid-container">
  <div *ngIf="user==undefined" class="item1">
    <button class="nav-item nav-link-edit" [routerLink]="['/registracija']">Registracija</button>
    <button class="nav-item nav-link-edit" [routerLink]="['/prijava']">Prijava</button>

    <br />
  </div>
  <!-- Ovo svi mogu da vide (i neprijavljeni/neregistrovani korisnik) -->
  <div class="item1">
    <button class="nav-item nav-link-edit" [routerLink]="['/cenovnik']">Cenovnik</button>
  </div>

  <div *ngIf="user!=undefined" class="item1">
    <button (click)='odjava()' class="nav-item nav-link-edit">Odjava</button>
    <div *ngIf=" user.uloga=='KORISNIK'">
      <button class="nav-item nav-link-edit" [routerLink]="['/profilKorisnik']">Profil</button>
      <button class="nav-item nav-link-edit" [routerLink]="['/kupovinaKarte']">Kupovina karte</button>
      <button class="nav-item nav-link-edit" [routerLink]="['/uredjivanjeProfila']">Izmena licnih podataka</button>
      <button class="nav-item nav-link-edit" [routerLink]="['/']">Promena lozinke</button>
    </div>
    <!-- Ovde stavljajte vase opcije u meni -->
    <div *ngIf=" user.uloga=='ADMINISTRATOR'">
      <button class="nav-item nav-link-edit" [routerLink]="['/profilAdmin']">Profil</button>
      <button class="nav-item nav-link-edit" [routerLink]="['/formCenovnik']">Dodaj Cenovnik</button>
    </div>
    <div *ngIf=" user.uloga=='KONDUKTER'">
        <button class="nav-item nav-link-edit" [routerLink]="['/profilKondukter']">Profil</button>
    </div>
    <div *ngIf="user.uloga=='VERIFIKATOR'">

        <button class="nav-item nav-link-edit" [routerLink]="['/profilVerifikator']">Profil</button>
    </div>

  </div>
  
  <div class="item2">
    <router-outlet></router-outlet>
  </div>
</div>
