.grid-container {
  display: grid;
  grid-template-columns: 200px auto;
  padding: 0px;
  margin: 0px;
  height: 99vh;
  margin: 0px 0px 0px 0px;
}

.item1 input {
  width: 80%;
}

.item2 {
  margin-right: 0px 0px 0px 0px;
  grid-column: 2 / 3;
  word-wrap: break-word;
  overflow-x: auto;
  text-align: center;
  /* background-image: url('../assets/pp.png'); */
  background-repeat: repeat-y repeat-x;
}

.item1 {
  text-align: center;
  background-color: #000080;
  grid-column: 1 / 2;
  word-wrap: break-word;
  padding: 0px;
  color: #e3eaff;
  margin: 0px 0px 0px 0px;
  font-family: Lucida Console;
}

  .item1 button {
    background-color: #000080; /* Green */
    border: 1px solid #000080;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    overflow: auto;
    display: block;
    font-family:Lucida Console
  }

.item1 button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.item1 button:hover {
  background-color: #000059;
}



