
button{
    border: none;
    background: #008CBA ;
    margin: 5px;
    color: white;
}

button:hover{
    background: grey;
}

button:disabled{
    color: black;
    cursor: not-allowed;
}

#add-btn{
    background: red;
    color: darkblue;
    float: right; 
}
#add-btn:hover{
    background: grey;
}

#linije{
    border: 2px solid blue;
    overflow-y: auto;
    height: 35%;
    background: #000080;
}

#linije p{
    color: white;
}

#current-line{
    border: 2px solid blue;
    overflow-y: auto;
    height: 65%;
    background: #a9bee8;
    color: white;
}

.buttons{
    float: bottom;
}