<div *ngIf="!loading">
  <table>
    <tr>
      <th colspan="4">
        Pocetak vazenja: {{cenovnik.datumObjavljivanja | date:'dd/MM/yyyy'}}
      </th>
    </tr>
    <tr>
      <th colspan="2">Popust za djake: </th>
      <th colspan="2">{{cenovnik.popustDjak}}%</th>
    </tr>
    <tr>
      <th colspan="2">Popust za studente: </th>
      <th colspan="2">{{cenovnik.popustStudent}}%</th>
    </tr>
    <tr>
      <th colspan="2">Popust za penzionere: </th>
      <th colspan="2">{{cenovnik.popustPenzioner}}%</th>
    </tr>
    <tr>
      <th colspan="2">Popust za nezaposlene: </th>
      <th colspan="2">{{cenovnik.popustNezaposlen}}%</th>
    </tr>
    <tr>
      <th>Linija/Zona</th>
      <th>Vrsta prevoza</th>
      <th>Tip karte</th>
      <th>Cena</th>
    </tr>
    <tr *ngFor="let stavka of sort('nazivLinije') ">
      <td *ngIf="stavka.nazivLinije">{{stavka.nazivLinije}}</td>
      <td *ngIf="stavka.nazivZone">{{stavka.nazivZone}}</td>
      <td>{{stavka.vrstaPrevoza}}</td>
      <td>{{stavka.tipKarte}}</td>
      <td>{{stavka.cena}}</td>
    </tr>
  </table>

</div>



