table {
  border: 2px solid #a9bee8;
  font-family: Lucida Console, Arial, Helvetica;
  border-collapse: collapse;
  width: 100%;
  max-width: 650px;
  word-wrap: auto;
  text-align: left;
  margin: 0 auto;
  color: #000059;
  background-color: #a9bee8;
}

 table td {
    padding: 8px;
  }

  table th {
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #000080;
    color: #e3eaff;
  }


  table tr:hover {
    background-color: #e3eaff;
    color:#92083b;
    cursor: pointer;
  }
